<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="weaveport-local" value="../artifacts/packages" />
  </packageSources>
  <packageSourceMapping>
    <clear />
    <packageSource key="weaveport-local"><package pattern="*" /></packageSource>
  </packageSourceMapping>
</configuration>
